@model IEnumerable<Class>

<h1>List of availableClasses</h1>
<hr>
<table>
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(e=>e.ClassID) </th>
            <th>@Html.DisplayNameFor(e=>e.StartTime) </th>
            <th>@Html.DisplayNameFor(e=>e.EndTime) </th>
            <th>@Html.DisplayNameFor(e=>e.Capacity) </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var data in Model)
        {
            <tr>
                <td>@Html.DisplayFor(e=>data.ClassID)</td>
                <td>@Html.DisplayFor(e=>data.StartTime)</td>
                <td>@Html.DisplayFor(e=>data.EndTime)</td>
                <td>@Html.DisplayFor(e=>data.Capacity)</td>
                <td>
                    
                </td>
            </tr>
        }
    </tbody>

</table>