@* Write your availableClasses page here... *@
@model IEnumerable<Class>
<h1>Available Classes</h1>
<hr/>
//startime endtime remaining
<br /><br />
<table class='table'>
    <thead>
        <tr>
             <td>@Html.DisplayNameFor(d=>d.ClassID)</td>
            <td>@Html.DisplayNameFor(d=>d.StartTime)</td>
            <td>@Html.DisplayNameFor(d=>d.EndTime)</td>
            <td>@Html.DisplayNameFor(d=>d.Capacity)</td>
            
        </tr>
    </thead>
    <tbody>
        @foreach(var data in @Model)
        {
            <tr>
                <td>@data.ClassID</td>
                <td>@data.StartTime</td>
                <td>@data.EndTime</td>
                <td>@data.Capacity</td>
           </tr>
        }
    </tbody>
</table>